<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="Infoskærm" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=InfoSkaerm;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <location path="DailyEvents.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Start.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="DailyEventsHerning.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="JsonInformations.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="DailyEventsHolstebro.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <machineKey decryption="AES" validation="SHA1" decryptionKey="1513F567EE75F7FB5AC0AC4D79E1D9F25430E3E2F1BCDD3370BCFC4EFC97A541" validationKey="32CBA563F26041EE5B5FE9581076C40618DCC1218F5F447634EDE8624508A129"/>

    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <clear/>
        <add
        name="SqlMembershipProvider"
        type="System.Web.Security.SqlMembershipProvider"
        connectionStringName="Infoskærm"
        enablePasswordRetrieval="false"
        requiresQuestionAndAnswer="false"
        applicationName="infoscreen"
        requiresUniqueEmail="false"
        minRequiredPasswordLength="4"
        passwordFormat="Encrypted"
        minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="infoscreen" connectionStringName="Infoskærm"/>
      </providers>
    </roleManager>

    <authentication mode="Forms" >
      <forms loginUrl="Login.aspx"
        name=".ASPXFORMSAUTH" />
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
  </system.web>
</configuration>
